/* The popup chat - hidden by default */
.cpf-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 999999;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

.cpfClose{
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #a91414;
    font-size: 20px;
    font-weight: bold;
}

#iframe {
  position: fixed;
  right: 10px;
  height: 80%;
  width: 30%;
  display: none;
  border: 0px;
  bottom: 0;
  z-index: 999999;
}